.main-nav > ul > li > a {
  color: $body-color;
  text-decoration: none;
}

.main-nav > ul > li {
  padding: 8px;
  margin-right: auto;
}

.main-nav > ul > li > a:hover {
  color: $primary;
}

.bg-topnav {
  background-color: #e0d8b0;
}

@media screen and (max-width: 767px) {
  #col-resp {
    flex-direction: column;
  }
}
