$body-bg: #fcffe7;
$primary: #dea057;
$body-color: #4c4c6d;
$light: #ce9461;
$font-family-sans-serif: "Radio Canada", sans-serif;
@import "~bootstrap/scss/bootstrap";
@import "./header";
@import "./footer";
@import "./topbanner";
@import "./content.scss";
@import "./carousel";
@import "./comments";
